In [ ]:
import pandas as pd
from sqlalchemy import create_engine
import numpy as np

In [287]:
#read in the FARS query data 
csv_file = "FARS2016query.csv"
FARS2016_df = pd.read_csv(csv_file)
FARS2016_df.head()

,statenum,casenum,vnumber,pnumber,arrhr,arrmin,arrtime,atmcond,atmcond2,city,...,prf1,prf2,prf3,ptype,druginv,alcinvol,race,sex,lagtime,takehosp
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,48.0,1.0,1.0,1.0,1.0,21.0,121.0,1.0,0.0,5390.0,...,0.0,0.0,0.0,1.0,8.0,1.0,0.0,1.0,99999.0,0.0
2,48.0,1.0,2.0,1.0,1.0,21.0,121.0,1.0,0.0,5390.0,...,0.0,0.0,0.0,1.0,8.0,8.0,0.0,1.0,99999.0,5.0
3,48.0,1.0,2.0,2.0,1.0,21.0,121.0,1.0,0.0,5390.0,...,0.0,0.0,0.0,2.0,8.0,8.0,0.0,2.0,99999.0,5.0
4,48.0,1.0,2.0,3.0,1.0,21.0,121.0,1.0,0.0,5390.0,...,0.0,0.0,0.0,2.0,8.0,8.0,0.0,2.0,99999.0,5.0

In [288]:
#remove nan 
FARS2016_df = FARS2016_df.dropna()


#Create new ID that is unique for each vehicle.
FARS2016_df['casenum'] = [str(int(case)).zfill(4) for case in FARS2016_df['casenum']] 
FARS2016_df['vnumber'] = [str(int(veh)).zfill(4) for veh in FARS2016_df['vnumber']]
FARS2016_df["ID"] = FARS2016_df['casenum']+FARS2016_df['vnumber']
FARS2016_df["State"] = "Texas"

#reduced number of variables
FARS2016_df_red = FARS2016_df[['State', 'ID', 'pnumber', 'atmcond', 'atmcond2', 'city', 'county', 'accdate', 'arf1', 'arf2', 'arf3', 'driverdrowsy', 'fhevent', 'holiday', 'heavytruck', 'lightcond', 'speeding', 'pforms', 'vforms', 'conszone', 'druginv', 'alcinvol', 'injury']]
FARS2016_df_red.head()

,State,ID,pnumber,atmcond,atmcond2,city,county,accdate,arf1,arf2,...,holiday,heavytruck,lightcond,speeding,pforms,vforms,conszone,druginv,alcinvol,injury
1,Texas,00010001,1.0,1.0,0.0,5390.0,85.0,1012016.0,0.0,0.0,...,1.0,0.0,3.0,1.0,8.0,3.0,0.0,8.0,1.0,1.0
2,Texas,00010002,1.0,1.0,0.0,5390.0,85.0,1012016.0,0.0,0.0,...,1.0,0.0,3.0,1.0,8.0,3.0,0.0,8.0,8.0,2.0
3,Texas,00010002,2.0,1.0,0.0,5390.0,85.0,1012016.0,0.0,0.0,...,1.0,0.0,3.0,1.0,8.0,3.0,0.0,8.0,8.0,2.0
4,Texas,00010002,3.0,1.0,0.0,5390.0,85.0,1012016.0,0.0,0.0,...,1.0,0.0,3.0,1.0,8.0,3.0,0.0,8.0,8.0,2.0
5,Texas,00010002,4.0,1.0,0.0,5390.0,85.0,1012016.0,0.0,0.0,...,1.0,0.0,3.0,1.0,8.0,3.0,0.0,8.0,8.0,2.0

In [289]:
FARS2016_death = FARS2016_df_red.loc[(FARS2016_df_red['injury'] ==4)]
FARS2016_death.count()

State           3797
ID              3797
pnumber         3797
atmcond         3797
atmcond2        3797
city            3797
county          3797
accdate         3797
arf1            3797
arf2            3797
arf3            3797
driverdrowsy    3797
fhevent         3797
holiday         3797
heavytruck      3797
lightcond       3797
speeding        3797
pforms          3797
vforms          3797
conszone        3797
druginv         3797
alcinvol        3797
injury          3797
dtype: int64

In [302]:
var_list = ['atmcond', 'atmcond2', 'arf1', 'arf2', 'arf3', 'driverdrowsy', 'fhevent', 'holiday', 'heavytruck', 'lightcond', 'speeding', 'conszone', 'druginv', 'alcinvol', 'injury']
file_name = ['AtmosphericConditions', 'AtmosphericConditions2',  'CrashRelatedFactor', 'CrashRelatedFactor2', 'CrashRelatedFactor3', 'Drowsy', 'FirstHarmfulEvent', 'HolidayRelated', 'LargeTruckRelated', 'LightCondition', 'Speeding', 'WorkZone', 'PoliceReportedDrugInvolvement', 'PoliceReportedAlcoholInvolvement', 'InjurySeverity']
nan_list = [(98,99,-1), (98,99,-1), (99,-1), (99,-1), (99,-1), (-1), (99), (-1), (-1), (8,9,-1), (-1), (-1), (8,9,-1), (8,9,-1), (9,-1)]
new_name = ['Atmospheric Condition (1)', 'Atmospheric Condition (2)', 'Crash Related Factor (1)', 'Crash Related Factor (2)', 'Crash Related Factor (3)', 'Drowsy Driver', 'First Harmful Event', 'Holiday Related', 'Large Truck Related', 'Light Condition', 'Speeding Ind','Work Zone', 'Police Reported Drug Involvement', 'Police-Reported Alcohol Involvement', 'Injury Severity']

new_df = FARS2016_death
i = 0
for var in var_list:
        csv_file = "data/"+str(file_name[i])+".csv"
        var_df = pd.read_csv(csv_file)
        new_df = pd.merge(new_df, var_df, on = var_list[i], how = 'left')
        new_df[new_name[i]] =  [item.split(")", 1)[1] for item in new_df[new_name[i]]]

        new_df = new_df.drop(columns = [var_list[i]])
        i += 1

In [303]:
#merge to county data
csv_file = "data/CountyName.csv"
var_df = pd.read_csv(csv_file)
new_df = pd.merge(new_df, var_df, on = 'county', how = 'left')
new_df['County Name'] =  [item.split("(", 1)[0] for item in new_df['County Name']]
new_df = new_df.drop(columns = ['county'])

#merge to city data
csv_file = "data/CityName.csv"
var_df = pd.read_csv(csv_file)
new_df = pd.merge(new_df, var_df, on = 'city', how = 'left')
new_df = new_df.drop(columns = ['city'])

In [304]:
#convert vforms and pforms to integers
new_df['Number of Person Forms Submitted'] = new_df['pforms'].astype(int)
new_df['Number of Vehicle Forms Submitted'] = new_df['vforms'].astype(int)
new_df = new_df.drop(columns = ['pforms','vforms'])

In [305]:
#convert date into timedate format
new_df['accdatestr'] = new_df['accdate'].astype(int).astype(str)
for i in new_df['accdatestr']:
    if len(i) < 8:
        new_df['accdatestr'] = '0' + new_df['accdatestr']
new_df['Crash Date'] = pd.to_datetime(new_df['accdatestr'], format='%d%m%Y', errors='ignore')
new_df = new_df.drop(columns = ['accdate','accdatestr'])

In [306]:
new_df.head()

,State,ID,pnumber,Atmospheric Condition (1),Atmospheric Condition (2),Crash Related Factor (1),Crash Related Factor (2),Crash Related Factor (3),Drowsy Driver,First Harmful Event,...,Speeding Ind,Work Zone,Police Reported Drug Involvement,Police-Reported Alcohol Involvement,Injury Severity,County Name,CityName,Number of Person Forms Submitted,Number of Vehicle Forms Submitted,Crash Date
0,Texas,00010002,5.0,Clear,No Additional Atmospheric Conditions,None,None,None,Not Drowsy,Motor Vehicle In-Transport,...,Speeding,None,Not Reported,Not Reported,Fatal Injury (K),COLLIN,PLANO,8,3,01012016
1,Texas,00020001,1.0,Cloudy,No Additional Atmospheric Conditions,None,None,None,Not Drowsy,Guardrail Face,...,Not Speeding,None,Not Reported,Not Reported,Fatal Injury (K),FRANKLIN,NOT APPLICABLE,2,1,01012016
2,Texas,00020001,2.0,Cloudy,No Additional Atmospheric Conditions,None,None,None,Not Drowsy,Guardrail Face,...,Not Speeding,None,Not Reported,Not Reported,Fatal Injury (K),FRANKLIN,NOT APPLICABLE,2,1,01012016
3,Texas,00030001,1.0,Cloudy,No Additional Atmospheric Conditions,None,None,None,Not Drowsy,Curb,...,Not Speeding,None,Not Reported,Yes (Alcohol Involved),Fatal Injury (K),HARRIS,HOUSTON,1,1,01012016
4,Texas,00040001,1.0,Clear,No Additional Atmospheric Conditions,None,None,None,Not Drowsy,Motor Vehicle In-Transport,...,Not Speeding,None,Not Reported,Not Reported,Fatal Injury (K),HARTLEY,NOT APPLICABLE,3,2,01012016

In [328]:
csv_file = 'data/df_c.csv'
CrashDistraction_df = pd.read_csv(csv_file)
CrashDistraction_df.reset_index(inplace = True)
CrashDistraction_df.drop('Unnamed: 0', axis = 1)

,index,State Name,ID,CaseNo,VehicleNo,CrashType,First Distraction,Second Distraction,Driver Action
0,0,Texas,10001,1,1,Striking From The Right,Not Distracted,Not Distracted,Not Reported
1,1,Texas,10002,1,2,Struck On The Right,Not Distracted,Not Distracted,Not Reported
2,2,Texas,10003,1,3,Other Crash Type,Not Distracted,Not Distracted,Driver Did Not Maneuver To Avoid
3,3,Texas,20001,2,1,Drive Off Road,Not Distracted,Not Distracted,Not Reported
4,4,Texas,30001,3,1,Drive Off Road,Not Distracted,Not Distracted,Not Reported
...,...,...,...,...,...,...,...,...,...
5321,5321,Texas,35250002,3525,2,Specifics Unknown,Not Distracted,Not Distracted,Not Reported
5322,5322,Texas,35260001,3526,1,Slower,Not Distracted,Not Distracted,Not Reported
5323,5323,Texas,35260002,3526,2,"Slower, Going Straight",Not Distracted,Not Distracted,Not Reported
5324,5324,Texas,35270001,3527,1,Decelerating (Slowing),Not Distracted,Not Distracted,Not Reported
5325,5325,Texas,35270002,3527,2,"Decelerating (Slowing), Going Straight",Not Distracted,Not Distracted,Not Reported

In [313]:
#connect to database
from sqlalchemy import create_engine
engine = create_engine('postgresql+psycopg2://postgres:secret@localhost/CrashDeaths')
connection = engine.connect()

In [314]:
engine.table_names()

['CrashDistraction', 'CrashInfo']

In [322]:

CrashDistraction_df.to_sql(name='CrashDistraction', con=engine, if_exists='append', index=False)

ProgrammingError: (psycopg2.errors.UndefinedColumn) column "Unnamed: 0" of relation "CrashDistraction" does not exist
LINE 1: INSERT INTO "CrashDistraction" ("Unnamed: 0", "State Name", ...
                                        ^

[SQL: INSERT INTO "CrashDistraction" ("Unnamed: 0", "State Name", "ID", "CaseNo", "VehicleNo", "CrashType", "First Distraction", "Second Distraction", "Driver Action") VALUES (%(Unnamed: 0)s, %(State Name)s, %(ID)s, %(CaseNo)s, %(VehicleNo)s, %(CrashType)s, %(First Distraction)s, %(Second Distraction)s, %(Driver Action)s)]
[parameters: ({'Unnamed: 0': 1, 'State Name': 'Texas', 'ID': 10001, 'CaseNo': 1, 'VehicleNo': 1, 'CrashType': 'Striking From The Right', 'First Distraction': 'Not Distracted', 'Second Distraction': 'Not Distracted', 'Driver Action': 'Not Reported'}, {'Unnamed: 0': 2, 'State Name': 'Texas', 'ID': 10002, 'CaseNo': 1, 'VehicleNo': 2, 'CrashType': 'Struck On The Right', 'First Distraction': 'Not Distracted', 'Second Distraction': 'Not Distracted', 'Driver Action': 'Not Reported'}, {'Unnamed: 0': 3, 'State Name': 'Texas', 'ID': 10003, 'CaseNo': 1, 'VehicleNo': 3, 'CrashType': 'Other Crash Type', 'First Distraction': 'Not Distracted', 'Second Distraction': 'Not Distracted', 'Driver Action': 'Driver Did Not Maneuver To Avoid'}, {'Unnamed: 0': 4, 'State Name': 'Texas', 'ID': 20001, 'CaseNo': 2, 'VehicleNo': 1, 'CrashType': 'Drive Off Road', 'First Distraction': 'Not Distracted', 'Second Distraction': 'Not Distracted', 'Driver Action': 'Not Reported'}, {'Unnamed: 0': 5, 'State Name': 'Texas', 'ID': 30001, 'CaseNo': 3, 'VehicleNo': 1, 'CrashType': 'Drive Off Road', 'First Distraction': 'Not Distracted', 'Second Distraction': 'Not Distracted', 'Driver Action': 'Not Reported'}, {'Unnamed: 0': 6, 'State Name': 'Texas', 'ID': 40001, 'CaseNo': 4, 'VehicleNo': 1, 'CrashType': 'Lateral Move (Left/Right)', 'First Distraction': 'Inattention (Inattentive), Details Unknown', 'Second Distraction': 'Inattention (Inattentive), Details Unknown', 'Driver Action': 'Not Reported'}, {'Unnamed: 0': 7, 'State Name': 'Texas', 'ID': 40002, 'CaseNo': 4, 'VehicleNo': 2, 'CrashType': 'Lateral Move (Going Straight)', 'First Distraction': 'Not Distracted', 'Second Distraction': 'Not Distracted', 'Driver Action': 'Not Reported'}, {'Unnamed: 0': 8, 'State Name': 'Texas', 'ID': 50001, 'CaseNo': 5, 'VehicleNo': 1, 'CrashType': 'Drive Off Road', 'First Distraction': 'Not Distracted', 'Second Distraction': 'Not Distracted', 'Driver Action': 'Not Reported'}  ... displaying 10 of 5326 total bound parameter sets ...  {'Unnamed: 0': 5325, 'State Name': 'Texas', 'ID': 35270001, 'CaseNo': 3527, 'VehicleNo': 1, 'CrashType': 'Decelerating (Slowing)', 'First Distraction': 'Not Distracted', 'Second Distraction': 'Not Distracted', 'Driver Action': 'Not Reported'}, {'Unnamed: 0': 5326, 'State Name': 'Texas', 'ID': 35270002, 'CaseNo': 3527, 'VehicleNo': 2, 'CrashType': 'Decelerating (Slowing), Going Straight', 'First Distraction': 'Not Distracted', 'Second Distraction': 'Not Distracted', 'Driver Action': 'Not Reported'})]
(Background on this error at: http://sqlalche.me/e/f405)