In [292]:
import pandas as pd

In [293]:
df = pd.read_csv('/Users/shilpa/Downloads/2016_ETL_distracted.csv')
df

,statenum,casenum,vnumber,crashtype,dridistract,dridistract.1,driavoidmanvr,drivisobs
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,48.0,1.0,1.0,86.0,0.0,0.0,98.0,0.0
2,48.0,1.0,2.0,87.0,0.0,0.0,98.0,0.0
3,48.0,1.0,3.0,98.0,0.0,0.0,0.0,0.0
4,48.0,2.0,1.0,6.0,0.0,0.0,98.0,0.0
...,...,...,...,...,...,...,...,...
5322,48.0,3525.0,2.0,49.0,0.0,0.0,98.0,0.0
5323,48.0,3526.0,1.0,24.0,0.0,0.0,98.0,0.0
5324,48.0,3526.0,2.0,25.0,0.0,0.0,98.0,0.0
5325,48.0,3527.0,1.0,28.0,0.0,0.0,98.0,0.0
5326,48.0,3527.0,2.0,29.0,0.0,0.0,98.0,0.0

In [294]:
df1 = df.rename(columns={'statenum': 'StateName', 
                         'casenum': 'CaseNo', 
                         'vnumber': 'VehicleNo', 
                         'crashtype': 'CrashType',
                        'dridistract': 'FirstDistraction',
                         'dridistract.1': 'SecondDistraction',
                        'driavoidmanvr': "DriverAction",
                        'drivisobs': 'ObscuredVision'})
df1

,StateName,CaseNo,VehicleNo,CrashType,FirstDistraction,SecondDistraction,DriverAction,ObscuredVision
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,48.0,1.0,1.0,86.0,0.0,0.0,98.0,0.0
2,48.0,1.0,2.0,87.0,0.0,0.0,98.0,0.0
3,48.0,1.0,3.0,98.0,0.0,0.0,0.0,0.0
4,48.0,2.0,1.0,6.0,0.0,0.0,98.0,0.0
...,...,...,...,...,...,...,...,...
5322,48.0,3525.0,2.0,49.0,0.0,0.0,98.0,0.0
5323,48.0,3526.0,1.0,24.0,0.0,0.0,98.0,0.0
5324,48.0,3526.0,2.0,25.0,0.0,0.0,98.0,0.0
5325,48.0,3527.0,1.0,28.0,0.0,0.0,98.0,0.0
5326,48.0,3527.0,2.0,29.0,0.0,0.0,98.0,0.0

In [295]:
df1.dropna()

,StateName,CaseNo,VehicleNo,CrashType,FirstDistraction,SecondDistraction,DriverAction,ObscuredVision
1,48.0,1.0,1.0,86.0,0.0,0.0,98.0,0.0
2,48.0,1.0,2.0,87.0,0.0,0.0,98.0,0.0
3,48.0,1.0,3.0,98.0,0.0,0.0,0.0,0.0
4,48.0,2.0,1.0,6.0,0.0,0.0,98.0,0.0
5,48.0,3.0,1.0,1.0,0.0,0.0,98.0,0.0
...,...,...,...,...,...,...,...,...
5322,48.0,3525.0,2.0,49.0,0.0,0.0,98.0,0.0
5323,48.0,3526.0,1.0,24.0,0.0,0.0,98.0,0.0
5324,48.0,3526.0,2.0,25.0,0.0,0.0,98.0,0.0
5325,48.0,3527.0,1.0,28.0,0.0,0.0,98.0,0.0
5326,48.0,3527.0,2.0,29.0,0.0,0.0,98.0,0.0

In [296]:
 df1.dtypes

StateName            float64
CaseNo               float64
VehicleNo            float64
CrashType            float64
FirstDistraction     float64
SecondDistraction    float64
DriverAction         float64
ObscuredVision       float64
dtype: object

In [297]:
df2 = df1.dropna()
df2.head()

,StateName,CaseNo,VehicleNo,CrashType,FirstDistraction,SecondDistraction,DriverAction,ObscuredVision
1,48.0,1.0,1.0,86.0,0.0,0.0,98.0,0.0
2,48.0,1.0,2.0,87.0,0.0,0.0,98.0,0.0
3,48.0,1.0,3.0,98.0,0.0,0.0,0.0,0.0
4,48.0,2.0,1.0,6.0,0.0,0.0,98.0,0.0
5,48.0,3.0,1.0,1.0,0.0,0.0,98.0,0.0

In [298]:
 df3 = df2.astype(int)

In [299]:
df3.head()

,StateName,CaseNo,VehicleNo,CrashType,FirstDistraction,SecondDistraction,DriverAction,ObscuredVision
1,48,1,1,86,0,0,98,0
2,48,1,2,87,0,0,98,0
3,48,1,3,98,0,0,0,0
4,48,2,1,6,0,0,98,0
5,48,3,1,1,0,0,98,0

In [300]:
df3['CaseNo'] = [str(int(CaseNo)).zfill(4) for CaseNo in df3['CaseNo']]
df3['VehicleNo'] = [str(int(VehicleNo)).zfill(4) for VehicleNo in df3['VehicleNo']]
df3["ID"] = df3['CaseNo'] + df3['VehicleNo']
df3["ID"]

1       00010001
2       00010002
3       00010003
4       00020001
5       00030001
          ...
5322    35250002
5323    35260001
5324    35260002
5325    35270001
5326    35270002
Name: ID, Length: 5326, dtype: object

In [301]:
df3

,StateName,CaseNo,VehicleNo,CrashType,FirstDistraction,SecondDistraction,DriverAction,ObscuredVision,ID
1,48,0001,0001,86,0,0,98,0,00010001
2,48,0001,0002,87,0,0,98,0,00010002
3,48,0001,0003,98,0,0,0,0,00010003
4,48,0002,0001,6,0,0,98,0,00020001
5,48,0003,0001,1,0,0,98,0,00030001
...,...,...,...,...,...,...,...,...,...
5322,48,3525,0002,49,0,0,98,0,35250002
5323,48,3526,0001,24,0,0,98,0,35260001
5324,48,3526,0002,25,0,0,98,0,35260002
5325,48,3527,0001,28,0,0,98,0,35270001
5326,48,3527,0002,29,0,0,98,0,35270002

In [302]:
df3

,StateName,CaseNo,VehicleNo,CrashType,FirstDistraction,SecondDistraction,DriverAction,ObscuredVision,ID
1,48,0001,0001,86,0,0,98,0,00010001
2,48,0001,0002,87,0,0,98,0,00010002
3,48,0001,0003,98,0,0,0,0,00010003
4,48,0002,0001,6,0,0,98,0,00020001
5,48,0003,0001,1,0,0,98,0,00030001
...,...,...,...,...,...,...,...,...,...
5322,48,3525,0002,49,0,0,98,0,35250002
5323,48,3526,0001,24,0,0,98,0,35260001
5324,48,3526,0002,25,0,0,98,0,35260002
5325,48,3527,0001,28,0,0,98,0,35270001
5326,48,3527,0002,29,0,0,98,0,35270002

In [303]:
crash_type = pd.read_csv('/Users/shilpa/Desktop/Crash_Type_Code Definitions.csv')

In [304]:
crash_type["Def"].iloc[0]

'(0)No Impact'

In [305]:
df3["CrashType"].iloc[1] = crash_type["ID"][8]

In [306]:
crash_type.loc[1]

ID                     1
Def    (1)Drive Off Road
Name: 1, dtype: object

In [307]:
crash_type.loc[crash_type['ID']==86,['Def']]

                            Def
83  (86)Striking From The Right

In [308]:
crash_type.astype(str)

    ID                                        Def
0    0                               (0)No Impact
1    1                          (1)Drive Off Road
2    2                   (2)Control/Traction Loss
3    3  (3)Avoid Collision With Veh., Ped., Anim.
4    4                         (4)Specifics Other
..  ..                                        ...
88  91                      (91)Specifics Unknown
89  92                           (92)Backing Veh.
90  93                          (93)Other Vehicle
91  98                       (98)Other Crash Type
92  99                                (99)Unknown

[93 rows x 2 columns]

In [309]:
int(crash_type.index[crash_type['ID'] == 0][0])

0

In [310]:
crash_type["Def"].iloc[0]

'(0)No Impact'

In [311]:
import re

for i in range (0, 5336):
    idx = int(crash_type.index[crash_type['ID'] == df3["CrashType"].iloc[i]][0])
    a = crash_type["Def"].iloc[idx]
    df3["CrashType"].iloc[i] = re.sub(r'\(\d+\)',"", a)
print(df3)

IndexError: single positional indexer is out-of-bounds

In [ ]:

 df3 
#for i in range (0, 5336):
#    idx = int(crash_type.index[crash_type['ID'] == df3["CrashType"].iloc[i]][0])
#    a = crash_type["Def"].iloc[idx] = df3["CrashType"].iloc[i]
df3

In [ ]:
df_A = pd.DataFrame(df3)
df_A

In [ ]:
distracted_by = pd.read_csv('/Users/shilpa/Library/Containers/com.microsoft.Excel/Data/Desktop/Driver_distracted_by_Code Definitions.csv')
distracted_by

In [ ]:
distracted_by["Def"].iloc[0]

In [ ]:
import re
df_A
for i in range (1, distracted_by.shape[0] + 1):
    idx = int(distracted_by.index[distracted_by['ID'] == df_A["First Distraction"].iloc[i]][0])
    a = distracted_by["Def"].iloc[idx]
    df_A["First Distraction"].iloc[i] = re.sub(r'\(\d+\)',"", a)
print(df_A)

In [ ]:
df_A 
#for i in range (0, 5336):
    #idx = int(distracted_by.index[distracted_by['ID'] == df_A["First Distraction"].iloc[i]][0])
    #distracted_by["Def"].iloc[idx] = df_A["First Distraction"].iloc[i] 
#df_A

In [ ]:
second_distraction = pd.read_csv('/Users/shilpa/Library/Containers/com.microsoft.Excel/Data/Desktop/Driver_distracted_by_Code Definitions.csv')
second_distraction

In [ ]:
import re
df_A
for i in range (0, 5336):
    idx = int(second_distraction.index[second_distraction['ID'] == df_A["Second Distraction"].iloc[i]][0])
    a = second_distraction["Def"].iloc[idx]
    df_A["Second Distraction"].iloc[i] = re.sub(r'\(\d+\)',"", a)
print(df_A)

In [ ]:
df_A
#for i in range (0, 5336):
#    idx = int(second_distraction.index[second_distraction['ID'] == df_A["Second Distraction"].iloc[i]][0])
#    a = second_distraction["Def"].iloc[idx]
#    df_A["Second Distraction"].iloc[i] = re.sub(r'\(\d+\)',"", a)
#df_A

In [ ]:
df_B = pd.DataFrame(df_A)
df_B

In [ ]:
DriverAction = pd.read_csv('/Users/shilpa/Desktop/Driver_manuvered_to_avoid_Code Definitions.csv')
DriverAction

In [ ]:
DriverAction["Def"].iloc[0]

In [ ]:
df_B

In [ ]:
import re
df_B
df_BB = df1.merge(df2, left_on='lkey', right_on='rkey')

for i in range (0, 5336):
    if i in DriverAction.ID.values:
        idx = int(DriverAction.index[DriverAction['ID'] == df_B["Driver Action"].iloc[i]][0])
        a = DriverAction["Def"].iloc[idx]
        df_B["Driver Action"].iloc[i] = re.sub(r'\(\d+\)',"", a)
print(df_B)

In [ ]:
df_B
#for i in range (0, 5336):
    #idx = int(DriverAction.index[dDriverAction['ID'] == df_B["Driver's Action"].iloc[i]][0])
    #DriverAction["Def"].iloc[idx] = df_B["Driver's Action"].iloc[i] 
#df_B

In [ ]:
df_B['State Name'] = df_B['State Name'].astype(int)
df_B

In [312]:
df_B['State Name'] = df_B['State Name'].replace(48, 'Texas')
df_B

,State Name,CaseNo,VehicleNo,CrashType,First Distraction,Second Distraction,Driver Action,Obscured Vision,ID
1,Texas,0001,0001,Striking From The Right,Not Distracted,Not Distracted,Not Reported,0.0,00010001
2,Texas,0001,0002,Struck On The Right,Not Distracted,Not Distracted,Not Reported,0.0,00010002
3,Texas,0001,0003,Other Crash Type,Not Distracted,Not Distracted,Driver Did Not Maneuver To Avoid,0.0,00010003
4,Texas,0002,0001,Drive Off Road,Not Distracted,Not Distracted,Not Reported,0.0,00020001
5,Texas,0003,0001,Drive Off Road,Not Distracted,Not Distracted,Not Reported,0.0,00030001
...,...,...,...,...,...,...,...,...,...
5322,Texas,3525,0002,Specifics Unknown,Not Distracted,Not Distracted,Not Reported,0.0,35250002
5323,Texas,3526,0001,Slower,Not Distracted,Not Distracted,Not Reported,0.0,35260001
5324,Texas,3526,0002,"Slower, Going Straight",Not Distracted,Not Distracted,Not Reported,0.0,35260002
5325,Texas,3527,0001,Decelerating (Slowing),Not Distracted,Not Distracted,Not Reported,0.0,35270001
5326,Texas,3527,0002,"Decelerating (Slowing), Going Straight",Not Distracted,Not Distracted,Not Reported,0.0,35270002

In [313]:
df_B['CaseNo'] = [str(int(CaseNo)).zfill(4) for CaseNo in df_B['CaseNo']]
df_B['VehicleNo'] = [str(int(VehicleNo)).zfill(4) for VehicleNo in df_B['VehicleNo']]
df_B["ID"] = df_B['CaseNo'] + df_B['VehicleNo']
df_B["ID"]

1       00010001
2       00010002
3       00010003
4       00020001
5       00030001
          ...
5322    35250002
5323    35260001
5324    35260002
5325    35270001
5326    35270002
Name: ID, Length: 5326, dtype: object

In [314]:
df_C = pd.DataFrame(df_B)
df_C

,State Name,CaseNo,VehicleNo,CrashType,First Distraction,Second Distraction,Driver Action,Obscured Vision,ID
1,Texas,0001,0001,Striking From The Right,Not Distracted,Not Distracted,Not Reported,0.0,00010001
2,Texas,0001,0002,Struck On The Right,Not Distracted,Not Distracted,Not Reported,0.0,00010002
3,Texas,0001,0003,Other Crash Type,Not Distracted,Not Distracted,Driver Did Not Maneuver To Avoid,0.0,00010003
4,Texas,0002,0001,Drive Off Road,Not Distracted,Not Distracted,Not Reported,0.0,00020001
5,Texas,0003,0001,Drive Off Road,Not Distracted,Not Distracted,Not Reported,0.0,00030001
...,...,...,...,...,...,...,...,...,...
5322,Texas,3525,0002,Specifics Unknown,Not Distracted,Not Distracted,Not Reported,0.0,35250002
5323,Texas,3526,0001,Slower,Not Distracted,Not Distracted,Not Reported,0.0,35260001
5324,Texas,3526,0002,"Slower, Going Straight",Not Distracted,Not Distracted,Not Reported,0.0,35260002
5325,Texas,3527,0001,Decelerating (Slowing),Not Distracted,Not Distracted,Not Reported,0.0,35270001
5326,Texas,3527,0002,"Decelerating (Slowing), Going Straight",Not Distracted,Not Distracted,Not Reported,0.0,35270002

In [315]:
df_C = df_C[["State Name", "ID", "CaseNo", "VehicleNo", "CrashType", "First Distraction", "Second Distraction","Driver Action"]]
df_C

,State Name,ID,CaseNo,VehicleNo,CrashType,First Distraction,Second Distraction,Driver Action
1,Texas,00010001,0001,0001,Striking From The Right,Not Distracted,Not Distracted,Not Reported
2,Texas,00010002,0001,0002,Struck On The Right,Not Distracted,Not Distracted,Not Reported
3,Texas,00010003,0001,0003,Other Crash Type,Not Distracted,Not Distracted,Driver Did Not Maneuver To Avoid
4,Texas,00020001,0002,0001,Drive Off Road,Not Distracted,Not Distracted,Not Reported
5,Texas,00030001,0003,0001,Drive Off Road,Not Distracted,Not Distracted,Not Reported
...,...,...,...,...,...,...,...,...
5322,Texas,35250002,3525,0002,Specifics Unknown,Not Distracted,Not Distracted,Not Reported
5323,Texas,35260001,3526,0001,Slower,Not Distracted,Not Distracted,Not Reported
5324,Texas,35260002,3526,0002,"Slower, Going Straight",Not Distracted,Not Distracted,Not Reported
5325,Texas,35270001,3527,0001,Decelerating (Slowing),Not Distracted,Not Distracted,Not Reported
5326,Texas,35270002,3527,0002,"Decelerating (Slowing), Going Straight",Not Distracted,Not Distracted,Not Reported

In [317]:
df_C.to_csv('df_C.csv')